h1 {
font-size: 4em;
}
h1, h2, h3, h4, h5, #time{
    text-align: center;
}
header, #time {
margin: 4em;

}
h3{
    font-size: medium;
}
.green{
    color: green;
}
.red{
    color: red;
}
.card {
    margin: auto;
}