h1 {
    font-size: 4em;
}

h1,
h2,
h3,
h4,
h5,
#time,
.director {
    text-align: center;
}

header,
#time {
    margin: 4em;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 100%;
}

.discription {
    height: 12em;
    text-align: justify;
    overflow: scroll;

}

.green {
    color: green;
}

.red {
    color: red;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

img {
    height: 40em;
}

#time {
    font-weight: bold;
}